.section {
	.item {
		.itemMain {
			padding: 4px 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 8px;

			&:hover {
				background-color: var(--color-secondary-background);
			}

			.left {
				display: flex;
				gap: 0.5rem;
				align-items: center;
			}

			.name {
				font-size: 14px;
			}
		}
	}
}
